.toggleBtn {
  background-color: #b7b9ba;
  border: solid 1px #aaa;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.1c ease, border-color 0.2 ease;
  cursor: pointer;
  box-shadow: 1 1 10 rgba(0, 0, 0, 0.748);
  position: relative;
}

.toggleBtn .thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggleBtn.toggled {
  background-color: #15b58e;
}

.toggleBtn:hover {
  border-color: #6f6f6f;
}

.toggleBtn.toggled .thumb {
  left: calc(50px - 25px);
}

.toggleContainer {
  background-color: var(--background-color);
  color: var(--color);
  width: 100vw;
}
