body {
  --background-color: white;
  --color: black;
}

body.dark {
  --background-color: #393939;
  --color: #c5c5c5;
}

input,
select {
  width: 150px;
  height: 30px;
  margin-top: 5px;
}

.removePostIcon {
  cursor: pointer;
  position: relative;
  top: 4px;
  left: 5px;
}
