.container {
  background-color: var(--background-color);
  color: var(--color);
  width: 100vw;
  height: 100vh;
}

input,
select,
.links {
  background-color: var(--background-color);
  color: var(--color);
}
